/* // D474designs | Modifications, and fixes by JOCV-III ///////
// All Rights Reserved /////// */

@font-face {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
}

/* Canvas Pie Chart & CSS Bar Chart */

/*
.body0 {
  padding: 50px 16px;
  background: #cceffc;
}
#live-poll-area {
  overflow: auto;
  width: 100%;
  max-width: 244px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.graph-container .graph {
  width: 110px;
  margin: 0 auto 25px auto;
}
.graph-container .graph canvas {
  max-width: 110px;
  height: auto;
}
.bar-chart {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 244px;
}
.bar-chart li {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.45;
  overflow: auto;
}
.bar-chart span {
  display: block;
}
.bar-chart .label {
  font-weight: 700;
  width: 70%;
  float: left;
}
.bar-chart .percentage {
  width: 30%;
  float: right;
  font-size: 12px;
  text-align: right;
}
.bar-chart .bar-track {
  clear: both;
  display: block;
  background: #e6f0f2;
  box-shadow: 0 2px 0 #cccccc;
  height: 5px;
  overflow: visible;
  margin-bottom: 20px;
}
.bar-chart .bar {
  display: block;
  height: 5px;
}
.bar-chart .answer-0 .bar {
  background-color: #ce0f42;
  box-shadow: 0 2px 0 #99102e;
}
.bar-chart .answer-1 .bar {
  background-color: #72be44;
  box-shadow: 0 2px 0 #538e32;
}
.bar-chart .answer-2 .bar {
  background-color: #f15637;
  box-shadow: 0 2px 0 #bd4429;
}
.bar-chart .answer-3 .bar {
  background-color: #8b1851;
  box-shadow: 0 2px 0 #53002c;
}

@media only screen and (min-width: 600px) {
  #live-poll-area {
    max-width: 384px;
    flex-direction: row;
  }
  .graph-container .graph {
    margin: 0 30px 0 0;
    padding: 0;
  }
  .bar-chart {
    min-width: 244px;
  }
}
*/

/* Responsive SVG Chart */

.html1 {
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro Light";
  font-weight: lighter;
  src: url("https://meloncholy.com/static/fonts/source-sans-pro/SourceSansPro-Light.otf");
}
.body1 {
  background-color: #222;
  color: #fff;
  font:
    lighter normal 18px/22px "Source Sans Pro Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  height: 100%;
  padding: 0 50px;
}
.h11 {
  font-size: 48px;
  line-height: 60px;
}
.a1 {
  color: #fff;
}
.graph {
  background-color: #383838;
  font-size: 14px;
  height: 50%;
  margin-bottom: 16px;
  width: 100%;
}
.graph svg {
  overflow: visible;
}
.domain {
  display: none;
}
.tick {
  shape-rendering: "crispEdges";
  stroke: #fff;
  stroke-width: 1px;
}
.graph-val {
  text-anchor: end;
}
text {
  fill: #fff;
}
.line {
  fill: none;
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}
.area {
  vector-effect: non-scaling-stroke;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);

.html2,
.body2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1100px;
  background: #343434;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.body2 {
  display: flex;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #436f60,
    #d2c493,
    #3d3739,
    #233e4f
  );
}

.main.main {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: calc(100% - 250px);
  color: #efefef;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin: 0 60px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 20px 0;
}
.content-container::before {
  width: 60px;
  height: 100%;
  content: "";
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: 0;
  left: -60px;
}
.content-container::after {
  width: 60px;
  height: 100%;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: 0;
  right: -60px;
}

.scroll-container {
  overflow: auto;
  width: 100%;
}

.h12 {
  font-size: 32px;
  font-weight: 300;
}

.h22 {
  font-size: 28px;
  font-weight: 300;
}

.h32 {
  font-size: 26px;
  font-weight: 300;
}

.h42 {
  font-size: 24px;
  font-weight: 300;
}

.h52 {
  font-size: 20px;
  font-weight: 300;
}

.h62 {
  font-size: 18px;
}

#a2 {
  color: #56a1db;
  text-decoration: none;
}
#a2:hover,
a2.selected {
  color: #287cbc;
}

.input:focus,
.button:focus {
  outline: none;
}

.button {
  color: #fff;
  background: #56a1db;
  border: none;
  padding: 10px 40px;
  text-align: center;
  font-size: 1rem;
  display: block;
}
.button:hover,
.button.selected {
  background: #1b527d;
}

.user-dashboard {
  background: #f9f9f9;
  color: #343434;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
  flex: 0 0 auto;
  position: relative;
}
.user-details-container .user-settings {
  font-size: 34px;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
}

nav.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
nav.main h5 {
  padding: 0 20px 10px;
  color: #484848;
  border-bottom: 1px solid #e3e3e3;
}
nav.main ul.nav-container {
  overflow: auto;
}
nav.main li.nav-item {
  overflow: hidden;
}
nav.main li.nav-item span {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #484848;
  background: #fff;
  padding: 16px 20px 16px 40px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav.main li.nav-item span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-radius: 50%;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
nav.main li.nav-item span::after {
  display: inline-block;
  font-family: "stroke";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.25s ease;
}
nav.main li.nav-item:first-of-type span {
  border-top: none;
}
nav.main li.nav-item:last-of-type span {
  border-bottom: 1px solid #e3e3e3;
}
nav.main li.nav-item:first-of-type span::before {
  border-color: #28d8b2;
}
nav.main li.nav-item:first-of-type li a::before {
  background: #28d8b2;
}
nav.main li.nav-item:nth-of-type(2) span::before {
  border-color: #f47264;
}
nav.main li.nav-item:nth-of-type(2) li a::before {
  background: #f47264;
}
nav.main li.nav-item:nth-of-type(3) span::before {
  border-color: #56a1db;
}
nav.main li.nav-item:nth-of-type(3) li a::before {
  background: #56a1db;
}
nav.main li.nav-item:nth-of-type(4) span::before {
  border-color: #fbd046;
}
nav.main li.nav-item:nth-of-type(4) li a::before {
  background: #fbd046;
}
nav.main li.nav-item:nth-of-type(5) span::before {
  border-color: #735fa4;
}
nav.main li.nav-item:nth-of-type(5) li a::before {
  background: #735fa4;
}
nav.main li.nav-item ul.subnav {
  visibility: hidden;
  max-height: 0;
  transition: 0.25s ease;
  transition-property: max-height, opacity;
  opacity: 0;
}
nav.main li.nav-item ul.subnav a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #6e6e6e;
  padding: 16px 20px 16px 40px;
  position: relative;
}
nav.main li.nav-item ul.subnav a:hover {
  background: dadrken(#f9f9f9, 10%);
}
nav.main li.nav-item ul.subnav li a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}
nav.main li.nav-item.open span {
  border-bottom: 1px solid #e3e3e3;
}
nav.main li.nav-item.open span::after {
  transform: translateY(-50%) rotate(90deg);
}
nav.main li.nav-item.open ul.subnav {
  visibility: visible;
  max-height: 200px;
  opacity: 1;
}

header.main {
  padding: 24px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  flex: 0 0 auto;
  position: relative;
}
header.main::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, #252525, transparent);
}
header.main h5 {
  padding-left: 34px;
  font-size: 18px;
  position: relative;
}
header.main h5::before {
  display: inline-block;
  font-family: "stroke";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  color: #d8d7d7;
  font-size: 28px;
  position: absolute;
  left: 0;
  top: -4px;
}
header.main form.input-container {
  display: flex;
  align-items: center;
}
header.main form.input-container label {
  width: 28px;
  height: 28px;
  font-size: 28px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
header.main form.input-container label::before {
  display: inline-block;
  font-family: "stroke";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  color: #d8d7d7;
}
header.main form.input-container input[type="search"] {
  background: none;
  border: none;
  border-bottom: 1px solid #f9f9f9;
  line-height: 22px;
  width: 240px;
  color: #efefef;
  font-size: 22px;
  font-weight: 300;
  display: none;
}

section.content-section {
  background-image: linear-gradient(
    to right,
    rgba(95, 99, 109, 0.5),
    rgba(76, 95, 113, 0.8)
  );
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}
section.content-section .content-item {
  display: flex;
  flex-direction: column;
}
section.content-section .content-item .content-header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #252525;
}
section.content-section .content-item .content-header h5 {
  padding-left: 20px;
  position: relative;
}
section.content-section .content-item .content-header h5::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #f47264;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}
section.content-section .content-item .content-header .content-menu {
  transform: rotate(90deg);
  width: 26px;
  height: 26px;
  font-size: 26px;
  color: #d8d7d7;
  overflow: hidden;
  text-align: center;
}
section.content-section .content-item .content-body {
  flex: 0 0 260px;
  display: flex;
  align-items: stretch;
}
section.content-section .content-item .content-body .content-body-item {
  flex: 1;
  border-right: 1px solid #252525;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
section.content-section .content-item .content-body .content-body-item h4 {
  color: #8c8a8a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
section.content-section .content-item .content-body .content-body-item .stat {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
}
section.content-section
  .content-item
  .content-body
  .content-body-item
  .stat.negative::before {
  content: "-";
  color: #f47264;
  padding-right: 4px;
}
section.content-section
  .content-item
  .content-body
  .content-body-item
  .stat.positive::before {
  content: "+";
  color: #28d8b2;
  padding-right: 4px;
}
section.content-section .content-item .content-body .content-body-item .graph {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 170px;
  opacity: 0.9;
}
section.content-section
  .content-item
  .content-body
  .content-body-item
  .graph
  svg {
  width: 100%;
  height: 170px;
}
section.content-section .content-item .content-body .content-body-item:hover {
  background: #f9f9f9;
}
section.content-section
  .content-item
  .content-body
  .content-body-item:hover
  h4 {
  color: #959595;
}
section.content-section
  .content-item
  .content-body
  .content-body-item:hover
  .stat {
  color: #7b7b7b;
  font-weight: 300;
}
section.content-section
  .content-item
  .content-body
  .content-body-item:last-of-type {
  border-right: none;
}
section.content-section:first-of-type .content-item .content-header h5::after {
  background: #f47264;
}
section.content-section:first-of-type .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:first-of-type
  .content-item
  .graph:nth-last-of-type(2)
  svg
  polygon {
  fill: #e22410;
}
section.content-section:nth-of-type(2) .content-item .content-header h5::after {
  background: #56a1db;
}
section.content-section:nth-of-type(2) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(2)
  .content-item
  .graph:nth-last-of-type(2)
  svg
  polygon {
  fill: #246ea7;
}
section.content-section:nth-of-type(3) .content-item .content-header h5::after {
  background: #fbd046;
}
section.content-section:nth-of-type(3) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(3)
  .content-item
  .graph:nth-last-of-type(2)
  svg
  polygon {
  fill: #d6a505;
}
section.content-section:nth-of-type(4) .content-item .content-header h5::after {
  background: #28d8b2;
}
section.content-section:nth-of-type(4) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(4)
  .content-item
  .graph:nth-last-of-type(2)
  svg
  polygon {
  fill: #18826b;
}
section.content-section:nth-of-type(5) .content-item .content-header h5::after {
  background: #735fa4;
}
section.content-section:nth-of-type(5) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(5)
  .content-item
  .graph:nth-last-of-type(2)
  svg
  polygon {
  fill: #453964;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #f47264;
}
.avatar img {
  width: 100%;
}





.body3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Roboto Light", "Segoe UI Web Light", "Segoe UI Light",
    "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 1em;
  background: #293950;
  color: #ecf0f0;
}
.section3 {
  margin: 0 auto;
}
.h13 {
  font-weight: normal;
  font-size: 2.4em;
  margin-bottom: 0;
}
.a3 {
  color: gold;
}
/* 
ISO Country code by regions: http://www.geohive.com/earth/gen_codes.aspx
*/

/* Northern America */
.bm,
.ca,
.gl,
.pm,
.us,
.noram {
  fill: #df4949;
  background: #df4949;
}

/* Latin America and the Caribbean */
.ai,
.ag,
.aw,
.bs,
.bb,
.bq,
.vg,
.ky,
.cu,
.cw,
.dm,
.do,
.gp,
.ht,
.jm,
.mq,
.ms,
.pr,
.bl,
.kn,
.lc,
.mf,
.vc,
.sx,
.tt,
.vi,
.bz,
.crr,
.sv,
.gt,
.hn,
.mx,
.ni,
.pa,
.ar,
.bo,
.br,
.cl,
.co,
.ec,
.fk,
.gf,
.gy,
.py,
.pe,
.sr,
.uy,
.ve,
.latam {
  fill: #e27a3f;
  background: #e27a3f;
}

/* Europe */
.by,
.bg,
.cz,
.hu,
.md,
.pl,
.ro,
.ru,
.sk,
.ua,
.ax,
.dk,
.ee,
.fo,
.fi,
.gg,
.is,
.ie,
.je,
.lv,
.lt,
.im,
.no,
.sj,
.se,
.gb,
.al,
.ad,
.ba,
.hr,
.gi,
.gr,
.va,
.it,
.mk,
.mt,
.me,
.pt,
.sm,
.rs,
.si,
.es,
.at,
.be,
.fr,
.de,
.li,
.lu,
.mc,
.nl,
.ch,
.eu {
  fill: #efc94c;
  background: #efc94c;
}

/* Asia */
.kz,
.kg,
.tj,
.tm,
.uz,
.cn,
.hk,
.mo,
.jp,
.kp,
.kr,
.mn,
.tw,
.af,
.bd,
.bt,
.in,
.ir,
.mv,
.np,
.pk,
.lk,
.bn,
.kh,
.id,
.la,
.my,
.mm,
.ph,
.sg,
.th,
.tl,
.vn,
.am,
.az,
.bh,
.cy,
.ge,
.iq,
.il,
.jo,
.kw,
.lb,
.ps,
.om,
.qa,
.sa,
.sy,
.tr,
.ae,
.ye,
.asia {
  fill: #9b59b6;
  background: #9b59b6;
}

/* Oceania */
.au,
.cx,
.cc,
.nz,
.nf,
.fj,
.nc,
.pg,
.sb,
.vu,
.gu,
.ki,
.mh,
.fm,
.nr,
.mp,
.pw,
.as,
.ck,
.pf,
.nu,
.pn,
.ws,
.tk,
.to,
.tv,
.wf,
.oceania {
  fill: #3498db;
  background: #3498db;
}

/* Africa */
.bi,
.km,
.dj,
.er,
.et,
.ke,
.mg,
.mw,
.mu,
.yt,
.mz,
.re,
.rw,
.sc,
.so,
.tz,
.ug,
.zm,
.zw,
.ao,
.cm,
.cf,
.td,
.cg,
.cd,
.gq,
.ga,
.st,
.dz,
.eg,
.ly,
.ma,
.ss,
.sd,
.tn,
.eh,
.bw,
.ls,
.na,
.za,
.sz,
.bj,
.bf,
.cv,
.gm,
.gh,
.gn,
.gw,
.lr,
.ml,
.mr,
.ne,
.ng,
.sh,
.sn,
.sl,
.tg,
.africa {
  fill: #f495a3;
  background: #f495a3;
}

/* Unclassified */
.aq,
.bv,
.io,
.tf,
.hm,
.gs,
.um,
.a1,
.a2,
.o1,
.other {
  fill: #45b29d;
  background: #45b29d;
}





#resumeProficiencies {
  float: left;
  clear: right;
  width: 500px;
  margin: 20px 0px 30px 30px;
}

#resumeProficienciesTop {
  float: left;
  clear: right;
  width: 100%;
  margin: -5px 0px 0px 0px;
  text-align: left;
  font-weight: 600;
}

#resumeProficienciesBottom {
  float: left;
  clear: right;
  width: 80%;
  margin: 2px 0px 0px 0px;
}

.progress {
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -moz-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -ms-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -o-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: linear-gradient(top, #dddddd, #e9e5e2);  
  height:20px; 
  border-radius: 0px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
  box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;   
}

.adobe, .html4, .css, .jquery, .javascript, .bootstrap, .wordpress, .ui, .ux, .rwd, .mobile, .rapidproto {

 -webkit-transition: width 4.50s ease !important;
 -moz-transition: width 4.50s ease !important;
   -o-transition: width 4.50s ease !important;
      transition: width 4.50s ease !important;
 }





.html5,
.body5 {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body5 {
  background: #1b1e23;
  color: white;
  font-family: sans-serif;
}

.p5 {
  font-size: 0.75em;
  margin-bottom: 2em;
}

.h15, .h25 {
  font-size: 1.5rem;
  text-align: center;
}

.html5 {
  box-sizing: border-box;
}

.row {
  margin-top: 2em;
}

.light {
  background: white;
  padding: 2em 0;
  margin-top: 2em;
}
.light .row {
  margin: 0;
}

.col {
  padding: 1em;
}

.fifty {
  width: 50%;
}

.graphiq {
  width: 100%;
  position: relative;
  display: flex;
}
.graphiq__graph-layout {
  flex: 1;
  overflow-x: hidden;
}
.graphiq__graph-values {
  font-size: 0.75em;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25em;
  text-align: right;
  font-weight: bold;
}
.graphiq__line {
  fill: none;
  stroke-miterlimit: 10;
}
.graphiq__graph-key {
  display: flex;
  justify-content: space-between;
}
.graphiq__graph-key .key {
  font-size: 0.75em;
  text-align: center;
  display: block;
}
.graphiq__y-division {
  fill: none;
  stroke-miterlimit: 10;
  z-index: -1;
  transition: 0.25s ease-in;
}
.graphiq__graph-dot {
  transition: stroke-width ease-in-out 0.2s;
  transform-origin: 50% 50%;
}
.graphiq__value-dialog {
  display: block;
  position: absolute;
  background: transparent;
  font-size: 0.75em;
  line-height: 0;
  padding: 0.66em 0.33em;
  font-weight: bold;
  -webkit-animation: float 0.3s ease-out forwards;
          animation: float 0.3s ease-out forwards;
}

@-webkit-keyframes float {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}





@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/cabin/v27/u-4V0qWljRw-Pd815fNqc8T_wAFcX-c37MPiNYlWniJ2hJXHx_KVxUbq.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/cabin/v27/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/cabin/v27/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkbqDH7alwg.ttf) format('truetype');
}
body,
input,
button,
textarea,
select {
  font: 16px Cabin;
  color: #bdbebf;
  background: #4a4844;
}
figure {
  text-align: center;
}
[peak-chart] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  margin-top: 120px;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  transform: rotateX(45deg);
}
[peak-chart],
[peak-chart] * {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
[peak-chart] > [face] {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
[peak-chart] > [face]:nth-child(1) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(192, 60%, 50%), hsl(192, 60%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(192, 60%, 50%), hsl(192, 60%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(2) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(192, 60%, 60%), hsl(192, 60%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(192, 60%, 60%), hsl(192, 60%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(3) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(207, 60%, 50%), hsl(207, 60%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(207, 60%, 50%), hsl(207, 60%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(4) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(207, 60%, 60%), hsl(207, 60%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(207, 60%, 60%), hsl(207, 60%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(5) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(234, 32%, 50%), hsl(234, 32%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(234, 32%, 50%), hsl(234, 32%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(6) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(234, 32%, 60%), hsl(234, 32%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(234, 32%, 60%), hsl(234, 32%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(7) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(345, 58%, 50%), hsl(345, 58%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(345, 58%, 50%), hsl(345, 58%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(8) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(345, 58%, 60%), hsl(345, 58%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(345, 58%, 60%), hsl(345, 58%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(9) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(185, 27%, 50%), hsl(185, 27%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(185, 27%, 50%), hsl(185, 27%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(10) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(185, 27%, 60%), hsl(185, 27%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(185, 27%, 60%), hsl(185, 27%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(11) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(298, 29%, 50%), hsl(298, 29%, 50%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(298, 29%, 50%), hsl(298, 29%, 50%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(12) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(298, 29%, 60%), hsl(298, 29%, 60%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(298, 29%, 60%), hsl(298, 29%, 60%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(13) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(14) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(15) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(16) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(17) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 80%), hsl(220, 6%, 80%) 50%, transparent 50%);
}
[peak-chart] > [face]:nth-child(18) {
  background-image: -webkit-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), -webkit-linear-gradient(bottom right, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, transparent 50%), linear-gradient(to top left, hsl(220, 6%, 90%), hsl(220, 6%, 90%) 50%, transparent 50%);
}
[peak-chart] > label {
  position: absolute;
  font-weight: bold;
  font-size: 90%;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
[peak-chart] > label:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top right, hsl(207.00000000000006, 60%, 89.99999999999999%), hsl(207.00000000000003, 59.999999999999986%, 60%));
  background-image: linear-gradient(to bottom left, hsl(207.00000000000006, 60%, 89.99999999999999%), hsl(207.00000000000003, 59.999999999999986%, 60%));
}
[peak-chart] > label[point=bottomright] {
  padding-right: 6px;
  padding-bottom: 9px;
}
[peak-chart] > label[point=bottomright]:before {
  right: -3px;
  bottom: 3px;
}
[peak-chart] > label[point=bottomleft] {
  padding-left: 6px;
  padding-bottom: 9px;
}
[peak-chart] > label[point=bottomleft]:before {
  left: -3px;
  bottom: 3px;
}
[peak-chart] > label[point=topleft] {
  padding-left: 4px;
  padding-top: 4px;
}
[peak-chart] > label[point=topleft]:before {
  left: -3px;
  top: -3px;
}
[peak-chart] > label[point=topright] {
  padding-right: 4px;
  padding-top: 4px;
}
[peak-chart] > label[point=topright]:before {
  right: -3px;
  top: -3px;
}
figcaption {
  line-height: 36px;
  font-style: italic;
}
figcaption button {
  background: none;
  border: 1px solid lightgray;
  cursor: pointer;
  font-size: 90%;
  margin: 0;
  padding: 1px 0.5em 0;
  line-height: 1.3;
  border-radius: 0.5em;
  vertical-align: text-top;
}
figcaption button:hover {
  background: rgba(0, 0, 0, 0.04);
}





/* // D474designs | Modifications, and fixes by JOCV-III ///////
// All Rights Reserved /////// */
