/* Variabes */
$color-primary: #2c3333;
$color-secondary: #395b64;
$color-accent: #a5c9ca;
$color-white: #e7f6f2;
$color-success: #90c8ac;
$color-error: #f37878;

/* Mixin's 
***************************** */

@mixin transition {
  transition: all 0.5s ease-in-out;
}

/*
FIXED : duplicated mixin!!
@mixin transition {
  transition: all 0.3s ease-in-out;
}
*/

@mixin box-size {
  box-sizing: border-box;
}

@mixin fade {
  // FIXED : transition: all 0.3s ease-in-out;
  @include transition;
}

@mixin opacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
  @include fade;
}

@mixin corners($radius) {
  border-radius: $radius;
}

// additional mixins
@mixin grid($col: repeat(12, 1fr), $row: repeat(12, 1fr), $inline: false) {
  @if $inline == true {
    display: inline-grid;
  } @else {
    display: grid;
  }
  grid-template-columns: $col;
  grid-template-rows: $row;
}

@mixin place-align($content: center, $items: center) {
  place-content: $content;
  place-items: $items;
}

@mixin button {
  color: $color-accent;
  background: transparent;
  padding: 0;
  margin: 0;
  border: solid 2px currentcolor;
  box-shadow: none;
  stroke: none;
  outline: none;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s all ease;

  &:hover {
    background: $color-secondary;
    border-width: 4px;
    border-color: $color-accent;
    color: $color-white;
  }
}

* {
  box-sizing: border-box;
  z-index: 1;
}

a[href] {
  color: $color-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $color-primary;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $color-white;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.wrapper {
  @include grid;
  @include place-align;
  min-width: 900px;
  max-width: 1260px;
  margin: auto;
  overflow: hidden;
}

.dark-mode {
  // TODO : not working and should convert sass variable to css custome property
  &,
  & *,
  & * * {
    $color-primary: #e7f6f2;
    $color-secondary: #a5c9ca;
    $color-accent: #395b64;
    $color-whtie: #2c3333;
  }
}

canvas {
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin: 0;
}

.main {
  @include grid;
  @include place-align;
}

.stickman {
  &-wrapper {
    grid-column: 2 / 7;
    grid-row: 2 / 8;
    @include grid(1fr, 1fr);
    @include place-align;
    width: 100%;
    height: 100%;
  }

  &-view {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: $color-accent dashed 4px;
    border-radius: 9px;
    color: $color-white;
  }
}

.letter {
  &-wrapper {
    grid-column: 8 / 12;
    grid-row: 2 / 8;
  }

  &-list {
    @include grid(repeat(5, 50px), repeat(6, 50px));
    @include place-align;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }

  &-item {
    position: relative;
    display: flex;
    @include place-align;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    font-size: 24px;
    background: $color-secondary;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 80%;
      border: 3px solid $color-accent;
      border-radius: 8px;
      transform: translate(-50%, -50%) scale(0);
    }

    &,
    &::after {
      transition: 0.35s all ease;
    }

    &:hover,
    &:focus {
      font-weight: bold;
      color: $color-accent;
      background: $color-primary;
      outline: none;

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:focus::after {
      border-style: dashed;
    }
  }

  &-item {
    &-correct {
      background: $color-success;
      color: $color-primary;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-success;
        background: transparent;
        &::after {
          border-color: currentColor;
        }
      }
    }

    &-incorrect {
      background: $color-error;
      color: $color-white;

      &:hover,
      &:focus {
        color: $color-error;
        background: transparent;
        &::after {
          border-color: currentColor;
        }
      }
    }
  }
}

.guess {
  &-wrapper {
    grid-column: 2 / 12;
    grid-row: 7 / 13;
    width: 100%;
    height: 175px;
    row-gap: 6px;
    padding: 15px;
    border: 4px solid $color-accent;
    border-radius: 9px;
    @include grid($row: 55px calc(155px - (15px * 2)));
  }

  &-header {
    grid-column: 1 / 13;
    @include grid($row: 75px);
    @include place-align;
    height: 75px;
  }

  &-buttons {
    grid-column: 8 / 13;
    @include grid(repeat(5, 1fr), 75px);
    column-gap: 9px;
    @include place-align(center);
  }

  &-button,
  &-heart-wrapper {
    @include button;
    @include place-align;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 90px;
  }

  &-hint {
    grid-column: 3 / 4;

    & svg {
      transform: scale(0.7);
    }
  }

  &-reset {
    grid-column: 4 / 5;

    & svg {
      transform: scale(0.7);
    }
  }

  &-toggle {
    grid-column: 5 / 6;

    & svg {
      transform: scale(0.7);
    }
  }

  &-heart {
    &-wrapper {
      grid-column: 1 / 3;
      width: 100px;
      justify-content: space-evenly;
      padding: 0 16px;
    }

    &-error {
      color: $color-error;
      border-width: 6px;
      border-color: currentcolor;
    }

    &-error &-icon {
      transform: scale(0.8);
      opacity: 0.5;
    }

    &-value {
      font-size: 24px;
    }

    &-icon,
    &-value {
      width: 36px;
    }
  }

  &-title {
    grid-column: 1 / 7;
    grid-row: 1 / 13;
    padding: 0 9px;
    font-size: 24px;
    width: 100%;
    text-align: left;
  }

  &-holder {
    &-list {
      list-style: none;
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(16, 35px);
      grid-auto-rows: 40px;
      // @include place-align;
      column-gap: 6px;
      align-items: end;
      width: 100%;
      height: 45px;
      padding: 0 9px;
    }

    &-item {
      width: 35px;
      font-size: 24px;
      height: 0;
      border: 4px solid $color-white;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      transition: 0.35s ease all;
    }

    &-delimiter {
      width: 32px;
      height: 32px;
      font-size: 24px;
    }

    &-delimiter,
    &-item {
      display: flex;
      @include place-align;
    }

    &-active {
      height: 50px;
      border-color: $color-white;
    }
  }
}

.overlay {
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;

    .hint-wrapper,
    .win-wrapper,
    .lose-wrapper {
      display: grid;
      @include place-align;
      position: fixed;
      top: -50%;
      left: 50%;
      height: 0;
      width: 50%;
      border-radius: 16px;
      color: $color-primary;
      background: $color-accent;
      transform: translate(-50%, -50%);
      transition: 0.35s ease all;
      z-index: 9;

      & button {
        @include button;
        color: $color-primary;
        background: transparent;
        border-color: currentColor;
      }
    }

    .hint-wrapper.hint-active,
    .win-wrapper.win-active,
    .lose-wrapper.lose-active {
      top: 50%;
      width: 600px;
      height: 300px;
    }

    .win-wrapper {
      background: $color-success;
      color: $color-primary;
    }

    .lose-wrapper {
      background: $color-error;
      color: $color-primary;
    }
  }

  &-active {
    z-index: 5;
    background: rgba(#666, 0.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    width: 100vw;
    height: 100vh;
  }
}

.hint {
  &-close {
    @include button;
    @include place-align;
    display: flex;
    position: absolute;
    right: 50px;
    top: 50px;
    border-color: transparent;
    border-radius: 15px;

    &,
    & svg {
      width: 64px;
      height: 64px;
    }
  }

  &-text {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    font-size: 32px;
    color: $color-primary;
  }
}

.win,
.lose {
  &-title {
    font-size: 42px;
  }

  &-reset {
    position: absolute;
    top: 50px;
    right: 50px;
    border-color: transparent;
    border-radius: 15px;
  }
}

.wrapper {
  @include grid(100%, 100px auto 80px);
  @include place-align;
  row-gap: 9px;
}

.footer {
  color: $color-white;
  a {
    color: $color-success;
  }
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
