body {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  */
}
/* unvisited link */
a:link {
  color: powderblue;
}
/* visited link */
a:visited {
  color: rebeccapurple;
}
/* mouse over link */
a:hover {
  color: mediumpurple;
}
/* selected link */
a:active {
  color: mediumaquamarine;
}

@media only screen and (min-width: 728px) {
  .desktop {
    visibility: visible;
  }
  .mobile {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
}
@media only screen and (max-width: 728px) {
  .desktop {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .mobile {
    visibility: visible;
  }
}

.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}

.side-banner iframe {
  position: absolute;
  right: 3px;
  bottom: 3px;
  z-index: 777;
}

.mobile-ad iframe {
  position: absolute;
  left: 3px;
  bottom: 3px;
  z-index: 777;
}

@media only screen and (max-width: 720px) {
  .side-banner iframe {
    width: 33.3%;
  }

  .mobile-ad iframe {
    height: 33.3%;
  }
}