/*/ D474designs | Modifications, and fixes by JOCV-III ///////
// All Rights Reserved //////*/

body {
  background-color: mediumaquamarine;
  margin: 0;
  min-height: 100vh;
}

canvas {
  margin-top: 3px;
  border-radius: 0.4em;
}