//
  Hi! This is just a little game based on the "eye test" idea. 
  I've wanted to try Konva library. (https://konvajs.github.io/).
  
  http://jukben.cz
  https://twitter.com/jukben

#app
  canvas
footer 
  | Made by 
  a(href="https://twitter.com/jukben", target="_blank") @jukben