/*/ D474designs | JOCV-III ///////
// All Rights Reserved //////*/

body {background:#000000;margin:0;padding:0}

canvas {background:#ecf0f1;}

.backgroundText {
	position: absolute;
	left: 30%;
	top: 0%;
	font-size: 5vw;
	z-index: 0;
	text-shadow: 0px 0px 2px white;
	text-align: center;
	cursor: pointer;
	visibility: visible;
}
/* Unvisited links */
.backgroundText:link {
  color: red;
}
/* Visited links */
.backgroundText:visited {
  color: deepskyblue;
  visibility: hidden;
}
/* Hovered links */
.backgroundText:hover {
  background: yellow;
}
/* Active links */
.backgroundText:active {
  color: red;
}

/* Active paragraphs */
.backgroundText:active {
  background: #eee;
}
.switch2 {
	text-shadow: 0px 0px 2px white;
}